<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunWidgetManagerMapper">

	<!-- 删除自定义widget所包含的widget的图片 -->
	<delete id="deletewidgetfile" parameterType="Long">
		DELETE
		FROM
		laun_widget_file
		WHERE
		widget_id IN (
		SELECT
		id
		FROM
		laun_widget
		WHERE
		parent_id = #{widgetId}
		)
	</delete>
	
	<!-- 删除widget封面 -->
	<delete id="deletewidgetcover">
		DELETE from laun_widget_file where widget_id = #{widgetId}
	</delete>

	<select id="widgetPreview" resultType="String" parameterType="Long">
		select lwf.path from laun_widget lw join 
		laun_widget_file lwf on 
		lw.prew_image = lwf.file_name
		where lwf.widget_id = lw.id
		and lw.id = #{widgetId}
	</select>

	<!-- 添加自定义Widget类型 -->
	<insert id="insertMidgetType">
		INSERT INTO laun_widget_type(
		id,
		type_name,
		create_date)
		VALUES(
		#{id},
		#{typeName},
		#{createDate})
	</insert>

	<!-- 管理员查看widget列表 -->
	<select id="findWidgetsListByAd" resultType="com.pactera.vo.LaunWidgetVo">
		SELECT
		laun_widget.`name` `name`,
		laun_widget.id id,
		laun_widget.default_size
		defaultSize,
		laun_widget.type type,
		laun_widget_type.type_name typeName,
		laun_widget.version versionName,
		laun_widget.description,
		laun_widget.code_id,
		case laun_widget.channelway WHEN 1 THEN '全部' else (
		select group_concat(lc.name) from laun_widget_channel lwc JOIN
		laun_channel lc on lwc.channel_id = lc.id where lwc.widget_id = laun_widget.id) END channelName,
		case laun_widget.createway WHEN 1 THEN '管理员' else laun_channel.name END channelUserName,
		laun_widget_file.path,
		laun_widget.creator
		FROM
		laun_widget 
		JOIN laun_widget_type on laun_widget.category = laun_widget_type.id
		JOIN laun_widget_file on laun_widget_file.widget_id = laun_widget.id 
		and laun_widget_file.file_name = laun_widget.prew_image
		JOIN laun_user on laun_widget.creator = laun_user.id
		LEFT JOIN laun_channel on laun_user.channel_id = laun_channel.id and laun_channel.channel_status = 0
		WHERE laun_widget.type in(0,1,2) and laun_widget.parent_id = 0
		<if test="keyWord != '' and keyWord != null">
			and laun_widget.name like CONCAT('%',#{keyWord},'%')
		</if>
		<if test="defaultSize != '' and defaultSize != null">
			and laun_widget.default_size like
			CONCAT('%',#{defaultSize,jdbcType=VARCHAR},'%')
		</if>
		<if test="category != '' and category != null">
			and laun_widget.category = #{category}
		</if>
		<if test="version != '' and version != null">
			and laun_widget.version = #{version}
		</if>
		ORDER BY
		laun_widget.create_date DESC
	</select>
	
	<select id="findWidgetsPullListByAd" resultType="com.pactera.vo.LaunWidgetVo">
		SELECT
		laun_widget.`name` `name`,
		laun_widget.id id,
		laun_widget.default_size
		defaultSize,
		laun_widget.type type,
		laun_widget_type.type_name typeName,
		laun_widget.version versionName,
		laun_widget.description,
		laun_widget.code_id codeId,
		case laun_widget.channelway WHEN 1 THEN '全部' else (
		select group_concat(lc.name) from laun_widget_channel lwc JOIN
		laun_channel lc on lwc.channel_id = lc.id where lwc.widget_id = laun_widget.id) END channelName,
		case laun_widget.createway WHEN 1 THEN '管理员' else laun_channel.name END channelUserName,
		laun_widget_file.path,
		laun_widget.creator
		FROM
		laun_widget 
		JOIN laun_widget_type on laun_widget.category = laun_widget_type.id
		JOIN laun_widget_file on laun_widget_file.widget_id = laun_widget.id 
		and laun_widget_file.file_name = laun_widget.prew_image
		JOIN laun_user on laun_widget.creator = laun_user.id
		LEFT JOIN laun_channel on laun_user.channel_id = laun_channel.id and laun_channel.channel_status = 0
		WHERE laun_widget.type in(0,1,2) and laun_widget.parent_id = 0
		<if test="keyWord != '' and keyWord != null">
			and laun_widget.name like CONCAT('%',#{keyWord},'%')
		</if>
		<if test="defaultSize != '' and defaultSize != null">
			and laun_widget.default_size like
			CONCAT('%',#{defaultSize,jdbcType=VARCHAR},'%')
		</if>
		<if test="category != '' and category != null">
			and laun_widget.category = #{category}
		</if>
		<if test="version != '' and version != null">
			and laun_widget.version &lt;= #{version}
		</if>
		<if test="channels != '' and channels != null">
			and (laun_widget.channelway =1 or 
			laun_widget.id in(select laun_widget_channel.widget_id from laun_widget_channel where laun_widget_channel.channel_id in(${channels}) group by laun_widget_channel.widget_id 
			HAVING count(laun_widget_channel.widget_id) = #{channelnum}))
		</if>
		ORDER BY
		laun_widget.create_date DESC
	</select>

	<!-- 查询widget类型列表 -->
	<select id="findWidgetTypeList" resultType="com.pactera.vo.LaunWidgetTypeVo">
		SELECT
		laun_widget_type.id id,
		laun_widget_type.create_date createDate,
		laun_widget_type.update_date updateDate,
		laun_widget_type.type_name
		typeName
		FROM
		laun_widget_type
		ORDER BY
		laun_widget_type.create_date DESC
	</select>

	<!-- 根据主键删除widget类型 -->
	<delete id="deleteWidgetType">
		DELETE
		FROM
		laun_widget_type
		WHERE
		laun_widget_type.id =
		#{id}
	</delete>

	<!-- 管理员查看widget列表 -->
	<select id="findWidgetsListByCh" resultType="com.pactera.vo.LaunWidgetVo">
		SELECT
		laun_widget.`name` `name`,
		laun_widget.id id,
		laun_widget.default_size
		defaultSize,
		laun_widget.type type,
		laun_widget_type.type_name typeName,
		laun_widget.version versionName,
		laun_widget.description,
		laun_widget_file.path,
		laun_widget.creator
		FROM
		laun_widget,
		laun_widget_type,
		laun_widget_file
		WHERE
		laun_widget.category = laun_widget_type.id
	  	and laun_widget.type in(0,1,2) and laun_widget.parent_id = 0
		and laun_widget_file.widget_id = laun_widget.id and laun_widget_file.file_name = laun_widget.prew_image
		and (laun_widget.creator = #{creator} or laun_widget.channelway = 1 or laun_widget.id in(select laun_widget_channel.widget_id from laun_widget_channel where laun_widget_channel.channel_id = #{channelId}))
		<if test="keyWord != '' and keyWord != null">
			and laun_widget.name like CONCAT('%',#{keyWord},'%')
		</if>
		<if test="defaultSize != '' and defaultSize != null">
			and laun_widget.default_size like
			CONCAT('%',#{defaultSize},'%')
		</if>
		<if test="category != '' and category != null">
			and laun_widget.category = #{category}
		</if>
		<if test="version != '' and version != null">
			and laun_widget.version = #{version}
		</if>
		ORDER BY
		laun_widget.create_date DESC
	</select>
	
	
	<select id="findWidgetsPullListByCh" resultType="com.pactera.vo.LaunWidgetVo">
		SELECT
		laun_widget.`name` `name`,
		laun_widget.id id,
		laun_widget.default_size
		defaultSize,
		laun_widget.type type,
		laun_widget_type.type_name typeName,
		laun_widget.version versionName,
		laun_widget.description,
		laun_widget_file.path,
		laun_widget.creator
		FROM
		laun_widget,
		laun_widget_type,
		laun_widget_file
		WHERE
		laun_widget.category = laun_widget_type.id
	  	and laun_widget.type in(0,1,2) and laun_widget.parent_id = 0
		and laun_widget_file.widget_id = laun_widget.id and laun_widget_file.file_name = laun_widget.prew_image
		and (laun_widget.creator = #{creator} or laun_widget.channelway = 1 or laun_widget.id in(select laun_widget_channel.widget_id from laun_widget_channel where laun_widget_channel.channel_id = #{channelId}))
		<if test="keyWord != '' and keyWord != null">
			and laun_widget.name like CONCAT('%',#{keyWord},'%')
		</if>
		<if test="defaultSize != '' and defaultSize != null">
			and laun_widget.default_size like
			CONCAT('%',#{defaultSize},'%')
		</if>
		<if test="category != '' and category != null">
			and laun_widget.category = #{category}
		</if>
		<if test="version != '' and version != null">
			and laun_widget.version &lt;= #{version}
		</if>
		ORDER BY
		laun_widget.create_date DESC
	</select>

	<!-- 根据主键删除widget类型 -->
	<delete id="deleteWidgetById">
		DELETE
		FROM
		laun_widget
		WHERE
		laun_widget.id =
		#{id}
	</delete>

	<!-- 查询widget尺寸列表 -->
	<select id="findWidgetDefaultSize" resultType="java.lang.String">
		SELECT DISTINCT
		(laun_widget.default_size) defaultSize
		FROM
		laun_widget
	</select>

	<!-- 查询widget类型列表 -->
	<select id="findWidgetCategory" resultType="com.pactera.domain.LaunWidgetType">
		SELECT
		laun_widget_type.id id,
		laun_widget_type.type_name typeName
		FROM
		laun_widget_type
	</select>

	<!-- 查询widget版本列表 -->
	<select id="findWidgetVersion" resultType="com.pactera.vo.LaunAttributeVo">
		SELECT
		laun_attribute.attribute_key_index attributeKeyIndex,
		laun_attribute.attribute_value attributeValue
		FROM
		laun_attribute
		WHERE
		laun_attribute.attribute_key = 'version'
		AND laun_attribute.attribute_status = '1'
		order by laun_attribute.attribute_value
	</select>

	<!-- 查询widget版本列表 -->
	<select id="findWidgetUseNum" resultType="string">
		SELECT
			DISTINCT lta.title
		FROM
			laun_theme_administration lta
		RIGHT JOIN  laun_theme_config ltc ON lta.id = ltc.laun_theme_id 
		WHERE ltc.widget_id = #{widgetId} 
	</select>
</mapper>