<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunThemeMapper">
	<resultMap id="BaseResultMap" type="com.pactera.domain.LaunThemeAdministration">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="background" jdbcType="VARCHAR" property="background" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="file_size" jdbcType="BIGINT" property="fileSize" />
		<result column="fm_app_img_url" jdbcType="VARCHAR" property="fmAppImgUrl" />
		<result column="folat_point" jdbcType="VARCHAR" property="folatPoint" />
		<result column="level" jdbcType="BIGINT" property="level" />
		<result column="long_palace" jdbcType="INTEGER" property="longPalace" />
		<result column="long_resolution" jdbcType="INTEGER" property="longResolution" />
		<result column="music_app_img_url" jdbcType="VARCHAR" property="musicAppImgUrl" />
		<result column="phone_app_img_url" jdbcType="VARCHAR" property="phoneAppImgUrl" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="basic_json" jdbcType="VARCHAR" property="basicJson" />
		<result column="widget_json" jdbcType="VARCHAR" property="widgetJson" />
		<result column="theme_json" jdbcType="VARCHAR" property="themeJson" />
		<result column="type_id" jdbcType="BIGINT" property="typeId" />
		<result column="creator" jdbcType="BIGINT" property="creator" />
		<result column="version" jdbcType="VARCHAR" property="version" />
		<result column="zip_url" jdbcType="VARCHAR" property="zipUrl" />
		<result column="preview_path" jdbcType="VARCHAR" property="previewPath" />
		<result column="urls" jdbcType="VARCHAR" property="urls" />
		<result column="weather_app_img_url" jdbcType="VARCHAR"
			property="weatherAppImgUrl" />
		<result column="wide_palace" jdbcType="INTEGER" property="widePalace" />
		<result column="wide_resolution" jdbcType="BIGINT" property="wideResolution" />
		<result column="width_or_higth_ratio" jdbcType="VARCHAR"
			property="widthOrHigthRatio" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="sort" jdbcType="INTEGER" property="sort" />
		<result column="download_count" jdbcType="INTEGER" property="downloadCount" />
		<result column="used_count" jdbcType="INTEGER" property="usedCount" />
        <result column="author" jdbcType="VARCHAR" property="author" />
        <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
		<result column="recommend" jdbcType="BIT" property="recommend" />
		<result column="recommend_sort" jdbcType="INTEGER" property="recommendSort" />
		<result column="price" jdbcType="DECIMAL" property="price" />
        <result column="tenant_id" jdbcType="INTEGER" property="tenantId" />
		<result column="addition" jdbcType="INTEGER" property="addition" />
	</resultMap>


	<resultMap id="BaseResultVoMap" type="com.pactera.vo.LaunThemeVo">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="file_size" jdbcType="BIGINT" property="fileSize" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="basic_json" jdbcType="VARCHAR" property="basicJson" />
		<result column="widget_json" jdbcType="VARCHAR" property="widgetJson" />
		<result column="theme_json" jdbcType="VARCHAR" property="themeJson" />
		<result column="zip_url" jdbcType="VARCHAR" property="zipUrl" />
		<result column="typeName" jdbcType="VARCHAR" property="typeName" />
		<result column="version" jdbcType="VARCHAR" property="version" />
		<result column="long_resolution" jdbcType="INTEGER" property="longResolution" />
		<result column="wide_resolution" jdbcType="INTEGER" property="wideResolution" />
		<result column="sort" jdbcType="INTEGER" property="sort" />
		<result column="download_count" jdbcType="INTEGER" property="downloadCount" />
		<result column="used_count" jdbcType="INTEGER" property="usedCount" />
		<result column="create_id" jdbcType="INTEGER" property="createId" />
	</resultMap>

    <sql id="themeAdmin">laun_theme_administration</sql>
    <sql id="themeClass">laun_theme_classification</sql>
	<sql id="versions">laun_versions</sql>
    <sql id="themeColumns">
        ${alias}.id,
        ${alias}.create_date,
        ${alias}.update_date,
        ${alias}.background,
        ${alias}.end_time,
        ${alias}.file_size,
        ${alias}.fm_app_img_url,
        ${alias}.folat_point,
        ${alias}.long_palace,
        ${alias}.long_resolution,
        ${alias}.music_app_img_url,
        ${alias}.phone_app_img_url,
        ${alias}.start_time,
        ${alias}.title,
        ${alias}.type_id,
        ${alias}.version,
        ${alias}.weather_app_img_url,
        ${alias}.wide_palace,
        ${alias}.wide_resolution,
        ${alias}.width_or_higth_ratio,
        ${alias}.font,
        ${alias}.config_json,
        ${alias}.creator_channel_id,
        ${alias}.creator,
        ${alias}.basic_json,
        ${alias}.widget_json,
        ${alias}.theme_json,
        ${alias}.zip_url,
        ${alias}.isPush,
        ${alias}.status,
        ${alias}.preview_path,
        ${alias}.urls,
        ${alias}.tenant_id,
        ${alias}.description,
        ${alias}.release_time,
        ${alias}.recommend,
        ${alias}.recommend_sort,
        ${alias}.author,
        ${alias}.download_count,
        ${alias}.used_count,
        ${alias}.price,
        ${alias}.sort,
        ${alias}.addition
    </sql>

	<select id="query" resultMap="BaseResultMap">
        SELECT
        <include refid="themeColumns"><property name="alias" value="t1"/></include>,
        t2.classification_name as typeName,
        t3.version_name as versionName
        FROM <include refid="themeAdmin"/> as t1
        LEFT JOIN <include refid="themeClass"/> as t2
        ON t1.type_id = t2.id
        LEFT JOIN <include refid="versions"/> as t3
        ON t1.version = t3.version
        <where>
			t1.status != -1
			AND t1.layout_id = #{layoutId}
            <if test="tenantId != null and tenantId != '' ">
                AND (t1.tenant_id = #{tenantId} OR t1.tenant_id = -1)
            </if>
            <if test="typeId != null and typeId != '' ">
                AND t1.type_id = #{typeId}
            </if>
            <if test="title != null ">
				AND t1.title like concat('%/',#{title},'%') escape '/' or t1.id like concat('%/',#{title},'%') escape '/'
            </if>
            <if test="status != null">
                AND t1.status = #{status}
            </if>
			<if test="longResolution != null">
				AND t1.long_resolution = #{longResolution}
			</if>
			<if test="widthResolution != null">
				AND t1.wide_resolution = #{widthResolution}
			</if>
        </where>
		ORDER BY t1.create_date DESC
	</select>

	<select id="selectByCound" resultMap="BaseResultVoMap">
		SELECT DISTINCT lta.id,
		lta.title,lta.version
		versionName,lta.end_time,lta.start_time,
		lta.
		STATUS,lta.create_id,IF
		(lta.creator_channel_id = 0,'所有渠道',lc. NAME)
		channelName,lta.creator_channel_id,
		ltc.classification_name
		typeName,lta.create_date,lta.zip_url
		FROM
		laun_theme_administration lta
		LEFT JOIN
		laun_channel lc ON
		lta.creator_channel_id = lc.id
		LEFT JOIN
		laun_theme_classification ltc ON
		lta.type_id = ltc.id
		WHERE
		(
		(lc.channel_status = 0 OR lc.channel_status is null)
		<if test="status != null">
			AND lta.`status` = #{status}
		</if>
		<if test="status == null">
			AND lta.`status` in (0,1,2,3)
		</if>
		<if test="type != null and type!= ''">
			AND lta.type_id = #{type}
		</if>
		<if test="version != null and version != ''">
			AND lta.version = #{version}
		</if>
		<if test="channel != null and channel != ''">
			AND lta.creator_channel_id = #{channel}
		</if>
		<if test="title != null and title != ''">
			And lta.title LIKE #{title}
		</if>
		)
		<if test="isChannleManager != null and isChannleManager == 1">
			OR
			((lc.channel_status = 0 OR lc.channel_status is null) AND
			lta.creator_channel_id = 0
			<if test="status != null">
				AND lta.`status` = #{status}
			</if>
			<if test="status == null">
				AND lta.`status` in (1,2,3)
			</if>
			<if test="type != null and type!= ''">
				AND lta.type_id = #{type}
			</if>
			<if test="version != null and version != ''">
				AND lta.version = #{version}
			</if>
			<if test="title != null and title != ''">
				And lta.title LIKE #{title}
			</if>
			)
		</if>
		ORDER BY
		lta.create_date DESC
	</select>


	<select id="selectByStatus" resultMap="BaseResultMap">
		SELECT
		lta.id,lta.title,lta.version,lta.type_id,lta.zip_url,lta.preview_path,lta.urls,
		ltc.classification_name
		typeName,lta.creator_channel_id,lta.wide_resolution,lta.long_resolution,lta.end_time,
		lta.file_size
		FROM
		laun_theme_administration lta
		LEFT JOIN
		laun_channel lc
		ON
		lta.creator_channel_id = lc.id
		LEFT
		JOIN
		laun_theme_classification ltc
		ON
		lta.type_id = ltc.id
		WHERE
		lta. STATUS
		= #{status}
	</select>

	<select id="selectByTheme" resultMap="BaseResultMap">
		SELECT <include refid="themeColumns"><property name="alias" value="t1"/></include>,
        t2.version_name as versionName
		FROM <include refid="themeAdmin"></include> AS t1
        LEFT JOIN <include refid="versions"/> as t2
        ON t1.version = t2.version
		<where>
			t1.id = #{id}
		</where>
	</select>



	<!--<select id="selectByTheme" resultMap="BaseResultMap">-->
		<!--SELECT-->
		<!--lta.id,lta.create_date,lta.end_time,lta.file_size,lta.fm_app_img_url,lta.folat_point,lta.creator_channel_id,lta.create_id,-->
		<!--lta.`level`,lta.long_palace,lta.long_resolution,lta.music_app_img_url,lta.phone_app_img_url,-->
		<!--lta.title,lta.start_time,lta.version-->
		<!--versionName,lta.type_id,lta.weather_app_img_url,lta.wide_palace,-->
		<!--lta.wide_resolution,lta.widget_json,lta.basic_json,lta.config_json,lta.theme_json,lta.zip_url,-->
		<!--lta.isPush,lta.`status`,IF (lta.creator_channel_id =-->
		<!--0,'所有渠道',lc.`name`) channelName,-->
		<!--ltc.classification_name typeName-->
		<!--FROM-->
		<!--laun_theme_administration-->
		<!--lta-->
		<!--LEFT-->
		<!--JOIN laun_channel lc ON-->
		<!--lta.creator_channel_id-->
		<!--= lc.id-->
		<!--LEFT JOIN-->
		<!--laun_theme_classification ltc on-->
		<!--lta.type_id = ltc.id-->
		<!--where lta.id-->
		<!--=-->
		<!--#{id}-->
	<!--</select>-->


	<select id="selectTypeList" resultType="com.pactera.domain.LaunThemeClassification">
		SELECT
		ltc.id,ltc.classification_name classificationName,lta.num
		FROM
		laun_theme_classification ltc
		LEFT JOIN (
		SELECT
		type_id,
		count(1) num
		FROM
		laun_theme_administration
		GROUP BY
		type_id
		) lta ON ltc.id =
		lta.type_id
	</select>

	<select id="getEffeCount" resultType="map">
		SELECT
		count(1) count,lc.`name`,lc.channel_id
		FROM
		laun_theme_administration lta LEFT JOIN laun_channel lc ON lta.creator_channel_id = lc.id
		WHERE
		`status` = 2
		GROUP BY
		creator_channel_id
	</select>

	<update id="changeStatus" parameterType="java.util.List">
		update <include refid="themeAdmin"></include> as t1 set t1.status = #{status}
		where id in
		<foreach collection="ids" index="index" item="id"
				 separator="," open="(" close=")">
			#{id}
		</foreach>
	</update>

	<update id="sort" parameterType="java.util.List">
		update <include refid="themeAdmin"></include> as t1 set t1.sort = #{sort}
		where id = #{id}
	</update>

	<update id="cleanClassification" parameterType="java.lang.String">
		update <include refid="themeAdmin"></include> as t1 set t1.type_id = null
		where t1.type_id = #{id}
	</update>
</mapper>