<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunCarStatisticsMapper">
	<resultMap id="BaseResultMap" type="com.pactera.domain.LaunCarStatistics">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="add_up_num" jdbcType="BIGINT" property="addUpNum" />
		<result column="car_active" jdbcType="BIGINT" property="carActive" />
		<result column="car_avg_time" jdbcType="VARCHAR" property="carAvgTime" />
		<result column="car_num" jdbcType="BIGINT" property="carNum" />
		<result column="car_start" jdbcType="BIGINT" property="carStart" />
		<result column="car_time" jdbcType="TIMESTAMP" property="carTime" />
		<result column="channel_id" jdbcType="BIGINT" property="channelId" />
		<result column="up_grade_num" jdbcType="BIGINT" property="upGradeNum" />
		<result column="version" jdbcType="VARCHAR" property="version" />
		<result column="start_up_num" jdbcType="BIGINT" property="startUpNum" />
		<result column="addUpNumYes" jdbcType="BIGINT" property="addUpNumYes" />
		<result column="carActiveYes" jdbcType="BIGINT" property="carActiveYes" />
	</resultMap>


	<select id="selectVersion" resultMap="BaseResultMap">
		SELECT
		lcs.version
		FROM
		laun_car_statistics lcs
		GROUP BY
		lcs.version
	</select>

	<select id="versionStatistics" resultMap="BaseResultMap">
		SELECT
		COUNT(car_num),
		COUNT(car_active),
		COUNT(car_start),
		COUNT(up_grade_num),
		COUNT(add_up_num),
		car_time,
		version
		FROM
		laun_car_statistics lcs
		<where>
			<if test="stime != null and stime != ''">
				and lcs.car_time <![CDATA[>=]]>
				#{stime}
			</if>
			<if test="etime != null and etime != ''">
				and lcs.car_time <![CDATA[>=]]>
				#{etime}
			</if>
			<if test="channel != null and channel != ''">
				and lcs.channel_id = #{channel}
			</if>
			<if test="asList.size > 0 ">
				and lcs.version in
				<foreach item="item" index="index" collection="asList" open="("
					separator="," close=")"> #{item} </foreach>
			</if>
		</where>
		GROUP BY
		version,
		car_time


	</select>
	<select id="selectVersionTrend" resultMap="BaseResultMap">
		SELECT
		lcs.add_up_num,
		lcs.car_start,
		lcs.car_num,
		lcs.version,
		ls.add_up_num addUpNumYes,
		ls.car_active carActiveYes
		FROM
		laun_car_statistics lcs
		LEFT JOIN
		laun_car_statistics ls ON lcs.version
		= ls.version
		<where>
			<if test="stime != null and stime != ''">
				and lcs.car_time <![CDATA[>=]]>
				#{stime}
			</if>
			<if test="etime != null and etime != ''">
				and lcs.car_time <![CDATA[>=]]>
				#{etime}
			</if>
			<if test="channel != null and channel != ''">
				and lcs.channel_id = #{channel}
			</if>
			<if test="asList.size > 0 ">
				and lcs.version in
				<foreach item="item" index="index" collection="asList" open="("
					separator="," close=")"> #{item} </foreach>
			</if>
			<if test="sdate != null and sdate != ''">
				and ls.car_time <![CDATA[>=]]>
				#{sdate}
			</if>
			<if test="edate != null and edate != ''">
				and ls.car_time <![CDATA[>=]]>
				#{edate}
			</if>

		</where>


	</select>






</mapper>