<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunCarouselMapper">

    <select id="carouselList" parameterType="com.pactera.domain.LaunCarousel" resultType="com.pactera.vo.LaunCarouselListVo">
      SELECT
        id, title, version, status, position,CONCAT(start_time,'至',end_time) AS startEndTime
      FROM
        laun_carousel
        <where>
            <if test="formatId>0">
                AND format_id = #{formatId}
            </if>
            <if test="version>0">
                AND version = #{version}
            </if>
            <if test="status!=null">
                AND status = #{status}
            </if>
            <if test="position!=null">
                AND position = #{position}
            </if>
            <if test="title!=null">
                AND title like concat('%/',#{title},'%')  ESCAPE '/' or id like concat('%/',#{title},'%') ESCAPE '/'
            </if>
        </where>
    </select>


    <select id="seCarouseInfo" parameterType="String" resultType="com.pactera.vo.LaunCarouselInfoVo">
        SELECT
           id AS themeId, tenant_id AS tenantName, classification_name AS themeClassName, title, author, pic
        FROM
           laun_theme_administration a LEFT JOIN laun_carousel_images c ON c.theme_id = a.id LEFT JOIN laun_theme_classification b ON a.type_id = b.id
        WHERE
           c.laun_carousel_id = #{id}
        ORDER BY
           c.id

    </select>


</mapper>