<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunAdverStatisticsMapper">
	<resultMap id="BaseResultMap" type="com.pactera.domain.LaunAdverStatistics">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="advertising_expenses" jdbcType="BIGINT"
			property="advertisingExpenses" />
		<result column="adver_agent" jdbcType="VARCHAR" property="adverAgent" />
		<result column="adver_click" jdbcType="BIGINT" property="adverClick" />
		<result column="adver_clickdevice" jdbcType="BIGINT" property="adverClickdevice" />
		<result column="adver_display" jdbcType="VARCHAR" property="adverDisplay" />
		<result column="adver_display_num" jdbcType="BIGINT" property="adverDisplayNum" />
		<result column="adver_hour" jdbcType="TIMESTAMP" property="adverHour" />
		<result column="adver_main" jdbcType="VARCHAR" property="adverMain" />
		<result column="adver_position" jdbcType="VARCHAR" property="adverPosition" />
		<result column="adver_title" jdbcType="VARCHAR" property="adverTitle" />
		<result column="channel_id" jdbcType="BIGINT" property="channelId" />
	</resultMap>


	<select id="selectByType" resultMap="BaseResultMap">
		SELECT
		ls.adver_click,
		ls.adver_display_num ,
		ls.adver_hour
		FROM
		laun_adver_statistics ls

		<where>
			<if test="channelId != null and channelId != ''">
				ls.channel_id = #{channelId}
			</if>
			<if test="stime != null ">
				and ls.adver_hour <![CDATA[>=]]>
				#{stime}
			</if>
			<if test="etime != null">
				and ls.adver_hour <![CDATA[<=]]>
				#{etime}
			</if>
		</where>

		GROUP BY ls.adver_hour
	</select>
	<select id="selectByTypeChannelId" resultMap="BaseResultMap">
		SELECT
		SUM(ls.adver_click) adverClick,
		SUM(ls.adver_display_num)
		adverDisplayNum ,
		ls.adver_hour
		FROM
		laun_adver_statistics ls
		<where>
			<if test="stime != null ">
				and ls.adver_hour <![CDATA[>=]]>
				#{stime}
			</if>
			<if test="etime != null">
				and ls.adver_hour <![CDATA[<=]]>
				#{etime}
			</if>
		</where>
		GROUP BY
		ls.adver_hour
	</select>




</mapper>