<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunChannelMapper">
	<resultMap id="BaseResultMap" type="com.pactera.domain.LaunChannel">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="channel_id" jdbcType="VARCHAR" property="channelId" />
		<result column="logo" jdbcType="VARCHAR" property="logo" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
	</resultMap>

	<!-- 查询渠道列表 -->
	<select id="findChannelList" resultType="com.pactera.domain.LaunChannel">
		SELECT
		laun_channel.channel_id channelId,
		laun_channel.`name` name
		FROM
		laun_channel
	</select>

	<!-- 查询渠道列表 -->
	<select id="selectById" resultType="com.pactera.domain.LaunChannel">
		SELECT
		laun_channel.channel_id channelId,
		laun_channel.`name` name
		FROM
		laun_channel where id = #{id}
	</select>

</mapper>