<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunThemeConfigMapper">
  <resultMap id="BaseResultMap" type="com.pactera.domain.LaunThemeConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="config_name" jdbcType="VARCHAR" property="configName" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="height_wieghts" jdbcType="VARCHAR" property="heightWieghts" />
    <result column="laun_theme_id" jdbcType="BIGINT" property="launThemeId" />
    <result column="relative_layout" jdbcType="INTEGER" property="relativeLayout" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="widget_id" jdbcType="BIGINT" property="widgetId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="width" jdbcType="VARCHAR" property="width" />
    <result column="width_to_height" jdbcType="VARCHAR" property="widthToHeight" />
    <result column="width_wieghts" jdbcType="VARCHAR" property="widthWieghts" />
    <result column="prew_image" jdbcType="VARCHAR" property="prewImage" />
  </resultMap>
  
  <select id="findByThemeId" resultMap="BaseResultMap">
	    SELECT
			ltf.*, lw.prew_image
		FROM
			laun_theme_config ltf
		LEFT JOIN laun_widget lw ON ltf.widget_id = lw.id
		WHERE ltf.laun_theme_id = #{id}
  </select>
</mapper>