<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunThemeStatisticsMapper">
	<resultMap id="BaseResultMap" type="com.pactera.domain.LaunThemeStatistics">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="avg_time" jdbcType="VARCHAR" property="avgTime" />
		<result column="channel_id" jdbcType="VARCHAR" property="channelId" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="count" jdbcType="BIGINT" property="count" />
		<result column="count_car" jdbcType="BIGINT" property="countCar" />
		<result column="effe_theme" jdbcType="BIGINT" property="effeTheme" />
		<result column="num_start_time" jdbcType="TIMESTAMP" property="numStartTime" />
		<result column="theme_id" jdbcType="BIGINT" property="themeId" />
		<result column="theme_prop" jdbcType="VARCHAR" property="themeProp" />
	</resultMap>


	<select id="selectByChannelIdNull" resultMap="BaseResultMap">
		SELECT
		SUM(lts.count) count,
		SUM(lts.effe_theme) effeTheme,
		lts.num_start_time
		FROM
		laun_theme_statistics lts
		GROUP BY
		lts.num_start_time


	</select>

	<select id="selectByType" resultMap="BaseResultMap">
		SELECT
		lts.count,
		lts.effe_theme,
		lts.num_start_time
		FROM
		laun_theme_statistics lts
		<where>

			<if test="stime != null ">
				and lts.num_start_time <![CDATA[>=]]>
				#{stime}
			</if>
			<if test="etime != null">
				and lts.num_start_time <![CDATA[>=]]>
				#{etime}
			</if>
			<if test="channelId != null and channelId != ''">
				and lts.channel_id = #{channelId}
			</if>

		</where>

		GROUP BY
		lts.num_start_time

	</select>

	<select id="selectTopTheme" resultMap="BaseResultMap">
		SELECT
		ts.channel_id,
		SUM(ts.count) count,
		SUM(ts.count_car) count_car,
		SUM(ts.effe_theme) effe_theme,
		ts.theme_id,
		ts.num_start_time,
		lta.title
		FROM
		laun_theme_statistics ts
		LEFT JOIN laun_theme_administration lta ON
		lta.id = ts.theme_id
		WHERE
		ts.num_start_time = #{timeString}
		<if test="channelId != null">
			AND ts.channel_id = #{channelId}
		</if>
		GROUP BY
		theme_id
		ORDER BY count DESC
		<if test="isLimit == 1">
			LIMIT 10;
		</if>
	</select>

</mapper>