<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunWidgetStatisticsMapper">

	<!-- widgets使用情况概览 -->
	<select id="findWisdgetStatic" resultType="com.pactera.domain.LaunWidgetStatistics">
		SELECT
		DATE_FORMAT(widget_time, '%Y-%m-%d') widgetTime,
		sum(start_up_num)
		startUpNum,
		sum(car_num) carNum
		FROM
		laun_widget_statistics
		WHERE
		laun_widget_statistics.widget_time &gt; #{sTime}
		AND
		laun_widget_statistics.widget_time &lt; #{eTime}
		AND
		laun_widget_statistics.channel_id = #{channelId}
		AND
		laun_widget_statistics.version = #{version}
		GROUP BY
		widgetTime
	</select>


	<!-- widgets使用情况概览列表 -->
	<select id="findOverViewStatic" resultType="com.pactera.domain.LaunWidgetStatistics">
		SELECT
		laun_widget_statistics.application_id applicationId,
		laun_application.`name` applicationName,
		sum(
		laun_widget_statistics.car_num
		) carNum,
		sum(
		laun_widget_statistics.start_up_num
		) startUpNum
		FROM
		laun_widget_statistics,
		laun_application
		WHERE
		laun_widget_statistics.application_id = laun_application.id
		AND
		laun_widget_statistics.widget_time &gt;
		#{sTime}
		AND
		laun_widget_statistics.widget_time &lt; #{eTime}
		AND
		laun_widget_statistics.channel_id = #{channelId}
		AND
		laun_widget_statistics.version = #{version}
		GROUP BY
		laun_widget_statistics.application_id
		ORDER BY
		startUpNum DESC
	</select>

	<!-- widgets使用情况,点击进入详情暂时没用 -->
	<select id="findWisdgetDetailStatic" resultType="com.pactera.domain.LaunWidgetStatistics">
		
	</select>

	<!-- 应用使用情况概览 -->
	<select id="findApplicationStatic" resultType="com.pactera.domain.LaunApplicationStatistics">
		SELECT
		a.s1
		timeNum,
		a.id applicationId,
		a.`name` applicationName,
		concat(
		FORMAT(
		(a.s1 * 100) / (
		SELECT
		sum(b.s1)
		FROM
		(
		(
		SELECT
		laun_application_statistics.start_up_num s1
		FROM
		laun_application_statistics
		WHERE
		laun_application_statistics.application_time &gt;
		#{sTime}
		AND
		laun_application_statistics.application_time &lt; #{eTime}
		AND
		laun_application_statistics.channel_id = #{channelId}
		AND
		laun_application_statistics.version = #{version}
		ORDER BY
		laun_application_statistics.start_up_num DESC
		LIMIT 10
		) b
		)
		),
		2
		),
		'%'
		)
		timeProp
		FROM
		(
		SELECT
		sum(
		laun_application_statistics.start_up_num
		) s1,
		laun_application_statistics.application_id id,
		laun_application.`name`
		`name`
		FROM
		laun_application_statistics,
		laun_application
		WHERE
		laun_application_statistics.application_id = laun_application.id
		AND
		laun_application_statistics.application_time &gt;
		#{sTime}
		AND
		laun_application_statistics.application_time &lt; #{eTime}
		AND
		laun_application_statistics.channel_id = #{channelId}
		AND
		laun_application_statistics.version = #{version}
		GROUP BY
		laun_application_statistics.application_id
		ORDER BY
		sum(
		laun_application_statistics.start_up_num
		) DESC
		LIMIT 10
		) a
	</select>



</mapper>