<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunAttributeMapper">

<select id="getMaxValueByType" resultType="Integer" parameterType="com.pactera.domain.LaunAttribute">
	select max(attribute_key_index) from laun_attribute where attribute_key = #{attributeKey}
</select>


</mapper>