<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunClientThemeMapper">
	<resultMap id="BaseResultMap" type="com.pactera.domain.LaunThemeAdministration">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="background" jdbcType="VARCHAR" property="background" />
		<result column="creator_channel_id" jdbcType="BIGINT" property="creatorChannelId" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="file_size" jdbcType="BIGINT" property="fileSize" />
		<result column="fm_app_img_url" jdbcType="VARCHAR" property="fmAppImgUrl" />
		<result column="folat_point" jdbcType="VARCHAR" property="folatPoint" />
		<result column="level" jdbcType="BIGINT" property="level" />
		<result column="long_palace" jdbcType="INTEGER" property="longPalace" />
		<result column="long_resolution" jdbcType="INTEGER" property="longResolution" />
		<result column="music_app_img_url" jdbcType="VARCHAR" property="musicAppImgUrl" />
		<result column="phone_app_img_url" jdbcType="VARCHAR" property="phoneAppImgUrl" />
		<result column="cdn_url" jdbcType="VARCHAR" property="cdnUrl" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="basic_json" jdbcType="VARCHAR" property="basicJson" />
		<result column="widget_json" jdbcType="VARCHAR" property="widgetJson" />
		<result column="theme_json" jdbcType="VARCHAR" property="themeJson" />
		<result column="type_id" jdbcType="BIGINT" property="typeId" />
		<result column="create_id" jdbcType="BIGINT" property="createId" />
		<result column="version" jdbcType="VARCHAR" property="version" />
		<result column="zip_url" jdbcType="VARCHAR" property="zipUrl" />
		<result column="property" jdbcType="VARCHAR" property="property" />
		<result column="weather_app_img_url" jdbcType="VARCHAR"
			property="weatherAppImgUrl" />
		<result column="wide_palace" jdbcType="INTEGER" property="widePalace" />
		<result column="wide_resolution" jdbcType="BIGINT" property="wideResolution" />
		<result column="width_or_higth_ratio" jdbcType="VARCHAR"
			property="widthOrHigthRatio" />
		<result column="channelName" jdbcType="VARCHAR" property="channelName" />
		<result column="typeName" jdbcType="VARCHAR" property="typeName" />
		<result column="versionName" jdbcType="VARCHAR" property="versionName" />
		<result column="createName" jdbcType="VARCHAR" property="createName" />
		<result column="preview_path" jdbcType="VARCHAR" property="previewPath" />
		<result column="urls" jdbcType="VARCHAR" property="urls" />
	</resultMap>


	<select id="getThemeList" resultMap="BaseResultMap">
		SELECT
		lta.id,lta.title,lta.version,lta.type_id,lta.zip_url,lta.preview_path,lta.urls,
		ltc.classification_name typeName,lta.file_size,lta.end_time
		FROM
		laun_theme_administration lta
		LEFT JOIN laun_channel lc ON
		lta.creator_channel_id = lc.id
		LEFT
		JOIN laun_theme_classification ltc
		ON lta.type_id = ltc.id
		WHERE
		wide_resolution = #{width} AND
		long_resolution = #{height} AND
		lta.creator_channel_id in (0,#{channleId}) AND version <![CDATA[<=]]>
		#{version} AND end_time > #{now}
		<if test="type != null">
			AND status = #{type}
		</if>
		<if test="type == null">
			AND status in (1,2)
		</if>
	</select>

	<select id="pushTheme" resultMap="BaseResultMap">
		SELECT
		lta.id,lta.title,lta.version,lta.type_id,lta.zip_url,
		ltc.classification_name typeName,lta.file_size
		FROM
		laun_theme_administration lta
		LEFT JOIN laun_channel lc ON
		lta.creator_channel_id = lc.id
		LEFT
		JOIN laun_theme_classification ltc
		ON lta.type_id = ltc.id
		WHERE
		lta. STATUS = 2
		AND wide_resolution =
		#{width} AND long_resolution = #{height} AND
		lta.creator_channel_id in
		(0,#{channleId}) AND version <![CDATA[<=]]>
		#{version}
		AND isPush = 1
	</select>

</mapper>