<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunVehicleListMapper">

    <select id="themeclasslist2" resultType="com.pactera.dto.ThemClassDTO" parameterType="String">
          SELECT
             a.id, a.cover_image as coverImage, a.classification_name as classificationName, a.format_id as formatId
          FROM
             laun_theme_classification a join laun_layout b on a.format_id=b.id
          WhERE
          <!--tenant_id = #{tenanId}
            AND-->
            a.shelf_status = 1
            AND
             a.disable = 1
             <if test="layoutName!=null">
                 AND b.name = #{layoutName}
             </if>
           ORDER BY
             a.sort desc
    </select>

    <select id="themTopAndByClassId" resultType="com.pactera.dto.ThemListDTO" parameterType="java.util.Map">
          SELECT
              a.id, a.preview_path as previewPath, a.title, a.version, a.price, a.addition + a.download_count as downloadCount, name as layoutName
          FROM
              laun_theme_administration a join laun_layout b on a.layout_id=b.id
          WHERE
              status = 2
              <if test="recommendSort==-1">
                 AND a.recommend = 1
              </if>
              <if test="version>0">
                AND  #{version} >= a.version
              </if>
              <if test="typeId!=null">
                AND a.type_id = #{typeId}
              </if>
              <if test="name!=null">
                AND b.name= #{layoutName}
              </if>
          ORDER BY
              <if test="sort==-1"> a.sort desc </if>
              <if test="downloadCount==-1"> a.downloadCount desc </if>
              <if test="recommendSort==-1"> a.recommend_sort desc </if>
    </select>

</mapper>