<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunVersionMapper">
    <resultMap id="LaunVersionsDto" type="com.pactera.dto.LaunVersionsDto">
        <!-- WARNING - @mbg.generated -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="version" jdbcType="DOUBLE" property="version"/>
        <result column="version_name" jdbcType="VARCHAR" property="versionName"/>
        <result column="layout" jdbcType="VARCHAR" property="layout"/>
    </resultMap>

    <sql id="version">laun_versions</sql>
    <sql id="layout">laun_layout</sql>

    <select id="findByVersionAndLayout" resultMap="LaunVersionsDto">
        SELECT t1.version, t1.version_name, t2.name layout
        FROM
        <include refid="version"/>
        t1 LEFT JOIN
        <include refid="layout"/>
        t2
        ON t1.layout_id = t2.id
        <where>
            t1.version = #{version} and t2.name = #{layout}
        </where>
    </select>

</mapper>