<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunThemeMapper">
	<resultMap id="BaseResultMap" type="com.pactera.domain.LaunThemeAdministration">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="background" jdbcType="VARCHAR" property="background" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="file_size" jdbcType="BIGINT" property="fileSize" />
		<result column="fm_app_img_url" jdbcType="VARCHAR" property="fmAppImgUrl" />
		<result column="folat_point" jdbcType="VARCHAR" property="folatPoint" />
		<result column="level" jdbcType="BIGINT" property="level" />
		<result column="long_palace" jdbcType="INTEGER" property="longPalace" />
		<result column="long_resolution" jdbcType="INTEGER" property="longResolution" />
		<result column="music_app_img_url" jdbcType="VARCHAR" property="musicAppImgUrl" />
		<result column="phone_app_img_url" jdbcType="VARCHAR" property="phoneAppImgUrl" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="basic_json" jdbcType="VARCHAR" property="basicJson" />
		<result column="widget_json" jdbcType="VARCHAR" property="widgetJson" />
		<result column="theme_json" jdbcType="VARCHAR" property="themeJson" />
		<result column="type_id" jdbcType="BIGINT" property="typeId" />
		<result column="create_id" jdbcType="BIGINT" property="createId" />
		<result column="version" jdbcType="VARCHAR" property="version" />
		<result column="zip_url" jdbcType="VARCHAR" property="zipUrl" />
		<result column="preview_path" jdbcType="VARCHAR" property="previewPath" />
		<result column="urls" jdbcType="VARCHAR" property="urls" />
		<result column="weather_app_img_url" jdbcType="VARCHAR"
			property="weatherAppImgUrl" />
		<result column="wide_palace" jdbcType="INTEGER" property="widePalace" />
		<result column="wide_resolution" jdbcType="BIGINT" property="wideResolution" />
		<result column="width_or_higth_ratio" jdbcType="VARCHAR"
			property="widthOrHigthRatio" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="sort" jdbcType="INTEGER" property="sort" />
		<result column="download_count" jdbcType="INTEGER" property="downloadCount" />
		<result column="used_count" jdbcType="INTEGER" property="usedCount" />
        <result column="author" jdbcType="VARCHAR" property="author" />
        <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
        <result column="price" jdbcType="DECIMAL" property="price" />
	</resultMap>


    <sql id="themeAdmin">laun_theme_administration</sql>
    <sql id="themeClass">laun_theme_classification</sql>
    <sql id="themefile">laun_theme_file</sql>
    <sql id="themeColumns">
        ${alias}.id,
        ${alias}.create_date,
        ${alias}.update_date,
        ${alias}.background,
        ${alias}.end_time,
        ${alias}.file_size,
        ${alias}.fm_app_img_url,
        ${alias}.folat_point,
        ${alias}.long_palace,
        ${alias}.long_resolution,
        ${alias}.music_app_img_url,
        ${alias}.phone_app_img_url,
        ${alias}.start_time,
        ${alias}.title,
        ${alias}.type_id,
        ${alias}.version,
        ${alias}.weather_app_img_url,
        ${alias}.wide_palace,
        ${alias}.wide_resolution,
        ${alias}.width_or_higth_ratio,
        ${alias}.font,
        ${alias}.config_json,
        ${alias}.creator_channel_id,
        ${alias}.basic_json,
        ${alias}.widget_json,
        ${alias}.theme_json,
        ${alias}.create_id,
        ${alias}.zip_url,
        ${alias}.isPush,
        ${alias}.status,
        ${alias}.preview_path,
        ${alias}.urls,
        ${alias}.tenant_id,
        ${alias}.description,
        ${alias}.release_time,
        ${alias}.recommend,
        ${alias}.recommend_sort,
        ${alias}.author,
        ${alias}.download_count,
        ${alias}.used_count,
        ${alias}.price,
        ${alias}.sort
    </sql>

	<select id="search" resultMap="BaseResultMap">

        SELECT
          <include refid="themeColumns"><property name="alias" value="t1"/></include>
        FROM
          <include refid="themeAdmin"/> as t1
        <where>
             t1.status = 2
             <if test="value != null"> AND t1.title LIKE CONCAT(CONCAT('%', #{value}), '%') </if></where>
        UNION
	    SELECT
          <include refid="themeColumns"><property name="alias" value="t2"/></include>
        FROM <include refid="themeAdmin"></include> as t2
        LEFT JOIN <include refid="themeClass"></include> as t3 ON t2.type_id = t3.id
        <where>
            t2.status = 2
            <if test="value != null"> AND t3.classification_name LIKE CONCAT(CONCAT('%', #{value}), '%') </if></where>

        UNION
        SELECT
        <include refid="themeColumns"><property name="alias" value="t4"/></include>
        FROM
        <include refid="themeAdmin"></include> as t4
        <where>
            t4.status = 2
            <if test="value != null">AND t4.author LIKE CONCAT(CONCAT('%', #{value}), '%') </if></where>
	</select>

    <update id="count" flushCache="true">
        update <include refid="themeAdmin"></include>
        <set>
            <if test="type == 0">
                download_count = download_count + 1
            </if>
            <if test="type == 1">
                used_count = used_count + 1
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>