<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.business.dao.LaunVehicleListMapper">

    <select id="themeclasslist2" resultType="com.pactera.dto.ThemClassDTO" parameterType="String">
          SELECT
             id, cover_image as coverImage, classification_name as classificationName
          FROM
             laun_theme_classification
          WhERE
          <!--tenant_id = #{tenanId}
            AND-->
            shelf_status = 1
            AND
             disable = 1
          ORDER BY
             sort desc
    </select>

    <select id="themTopAndByClassId" resultType="com.pactera.dto.ThemListDTO" parameterType="com.pactera.domain.LaunThemeAdministration">
          SELECT
              id , preview_path as previewPath, title, download_count as downloadCount, version, price
          FROM
              laun_theme_administration
          WHERE
              status = 2
              <if test="recommendSort==-1">
                 AND recommend = 1
              </if>
              <if test="version>0">
                AND  #{version} >version
              </if>
              <if test="typeId!=null">
                 AND type_id = #{typeId}
              </if>
          ORDER BY
            <if test="sort==-1"> sort desc </if>
            <if test="downloadCount==-1"> download_count desc </if>
            <if test="recommendSort==-1"> recommend_sort desc </if>
    </select>

</mapper>